.app {
  text-align: center;
  /* opacity: 0.8; */
  /* max-width: 680px; */
  margin: 0 auto;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

header a {
  text-decoration: none;
  font-weight: 400;
  color: #212121;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

header a:hover {
  border-bottom: 2px solid #212121;
}

.app h1 {
  font-weight: 4 00;
  font-size: 1em;
  color: #212121;
  letter-spacing: 0.03em;
}

header ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-size: 0.7em;
}

header li {
  display: inline;
  margin-right: 0.7em;
}

header li:last-of-type {
  margin-right: 0;
}

header img {
  opacity: 1;
  width: 128px;
  height: 128px;
  /* height: 98px; */
  /* visibility: hidden; */
  /* transform: rotate(15deg); */
}

article {
  text-align: left;
  max-width: 90vw;
  margin: 0 auto;
}

article h3 {
  font-weight: 400;
  /* text-decoration: underline; */
}

article ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* font-size: 0.85em; */
}

article li {
  padding: 0.2em 0em 0.2em 0;
  margin: 0.5em 0;
  /* border-bottom: 1px solid hsl(0, 0%, 90%); */
}

article code {
  color: #555;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1.15em;
  /* float: right; */
  margin-left: 0.85em;
}

article li > *:last-child {
  /* float: right; */
  /* background: red; */
}

article a {
  color: #212121;
  border-bottom: 0.5px solid transparent;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.85em;
  transition: all 0.2s ease-in-out;
}
article a:hover {
  border-bottom: 0.5px solid #212121;
}

.App-header {
  /* min-height: 100vh; */
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
